@page "/"

<PageTitle>Index</PageTitle>

<div style="display: flex; flex-direction: column; align-content: center; justify-content: center; height: 80vh; text-align: center">
    <p style="font-size: 36px">Damian Charążka</p>
    <p style="font-size: 24px">Nr. indeksu: 113807</p>
</div>